In [16]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.preprocessing import StandardScaler

In [17]:
df = pd.read_csv("titanic_train.csv")
df1 = df.copy()

In [18]:
#Remove unrelavant features which was PassengerId, Name, Ticket

In [19]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-f2afbffe-1cf5-4f50-bb36-4e51008b297e') # Let Mito know which analysis is being run

# Deleted column PassengerId from df1
df1.drop('PassengerId', axis=1, inplace=True)

# Deleted column Name from df1
df1.drop('Name', axis=1, inplace=True)

# Deleted column Ticket from df1
df1.drop('Ticket', axis=1, inplace=True)

# Duplicated df1 to df1_copy
df1_copy = df1.copy(deep=True)

# Renamed df1_copy to df2
df2 = df1_copy

  
# MITO CODE END (DO NOT EDIT)

In [20]:
# Handle Missing value
# Removed Cabin column because it has 77.10% missing values
# Dropped two missing values for Embarked
# Make Age higher than 0

In [21]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-91eba5e7-c98f-4873-97e1-968d98b2cec9') # Let Mito know which analysis is being run

# Deleted column Cabin from df2
df2.drop('Cabin', axis=1, inplace=True)

# Filtered Embarked in df2
df2 = df2[df2.Embarked.notnull()]

# Filtered Age in df2
df2 = df2[df2['Age'] >= 0]

# Duplicated df2 to df2_copy
df2_copy = df2.copy(deep=True)

# Renamed df2_copy to df3
df3 = df2_copy

  
# MITO CODE END (DO NOT EDIT)

In [22]:
# For fare data, it seems the value is right skewed
# We will proceed with log tranformation
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['Fare']:
    fig.add_trace(go.Histogram(x=df1[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='Fare',
    title='Fare frequencies',
    barmode='group'
)
fig.show(renderer="iframe")

In [23]:
df3["Fare_log"] = np.log(df3['Fare'])

C:\Users\Darknman\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning:

divide by zero encountered in log

In [24]:
# Based on below boxplot, after used log transformation there are still a few outliners in Fare_log
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add box plots to the graph
for column_header in ['Fare_log']:
    fig.add_trace(go.Box(x=df3[column_header], name=column_header))

# Update the title and stacking mode of the graph
# See Plotly documentation for customizations: https://plotly.com/python/reference/box/
fig.update_layout(
    title='Fare_log box plot',
    barmode='stack'
)
fig.show(renderer="iframe")

In [25]:
# Proceed remove outliners and non numerical values in Fare_log
df3["Fare_log"].replace([np.inf, -np.inf], np.nan, inplace=True)
df3 = df3[df3.Fare_log.notnull()]
df3 = df3[df3['Fare_log'] != 6.238967387173662]
df4 = df3.copy()

In [26]:
df4.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Fare_log
0         0       3    male  22.0      1      0   7.2500        S  1.981001
1         1       1  female  38.0      1      0  71.2833        C  4.266662
2         1       3  female  26.0      0      0   7.9250        S  2.070022
3         1       1  female  35.0      1      0  53.1000        S  3.972177
4         0       3    male  35.0      0      0   8.0500        S  2.085672

In [27]:
#Check if all columns data are in right datatype
print(df4[df4['Survived'].apply(lambda x: type(x) == str)])
print(df4[df4['Pclass'].apply(lambda x: type(x) == str)])
print(df4[df4['Sex'].apply(lambda x: type(x) != str)])
print(df4[df4['Age'].apply(lambda x: type(x) == str)])
print(df4[df4['SibSp'].apply(lambda x: type(x) == str)])
print(df4[df4['Parch'].apply(lambda x: type(x) == str)])
print(df4[df4['Fare'].apply(lambda x: type(x) == str)])
print(df4[df4['Embarked'].apply(lambda x: type(x) != str)])
print(df4[df4['Fare_log'].apply(lambda x: type(x) == str)])

Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []

In [28]:
# Convert categorical variables to numerical variables
#  Ordinal Encoding (Retain all orders)
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
enc.fit(df4[["Sex","Embarked"]])
df4[["Sex","Embarked"]] = enc.transform(df4[["Sex","Embarked"]])

In [29]:
# Save the csv file
df4.to_csv('titanic_train_fe.csv', index=False)