In [7]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.preprocessing import OrdinalEncoder

In [8]:
df = pd.read_csv("titanic_test.csv")
df1 = df.copy()

In [9]:
# Remove unrelavant features which was Name, Ticket
# We did not drop PassengerId because it will be used for submitting to Kaggle
# But we will not be using this column during prediction

In [10]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-789d9aa1-2e68-4878-bab2-d9ba16ba66d1') # Let Mito know which analysis is being run

# Deleted column Name from df1
df1.drop('Name', axis=1, inplace=True)

# Deleted column Ticket from df1
df1.drop('Ticket', axis=1, inplace=True)

# Duplicated df1 to df1_copy
df1_copy = df1.copy(deep=True)

# Renamed df1_copy to df2
df2 = df1_copy

  
# MITO CODE END (DO NOT EDIT)

In [11]:
# Handle Missing value
# Removed Cabin column because it has high missing values

In [12]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-8ea50312-ce9f-4c4f-88eb-bc63dfb9b975') # Let Mito know which analysis is being run

# Deleted column Cabin from df2
df2.drop('Cabin', axis=1, inplace=True)

# Duplicated df2 to df2_copy
df2_copy = df2.copy(deep=True)

# Renamed df2_copy to df3
df3 = df2_copy

  
# MITO CODE END (DO NOT EDIT)

In [13]:
# Fill one null value from Fare with medium
df3["Fare"].fillna(df3["Fare"].median(), inplace=True)

In [17]:
# Age seems have 20.57% null values (Fill values with median because there are a few outliners)
df3["Age"].fillna(df3["Age"].median(), inplace=True)

In [18]:
df3.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [19]:
# For fare data, it seems the value is right skewed
# We will proceed with log tranformation
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['Fare']:
    fig.add_trace(go.Histogram(x=df1[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='Fare',
    title='Fare frequencies',
    barmode='group'
)
fig.show(renderer="iframe")

In [20]:
df3["Fare_log"] = np.log(df3['Fare'])

C:\Users\Darknman\anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning:

divide by zero encountered in log

In [22]:
# Proceed remove outliners and non numerical values in Fare_log
df3["Fare_log"].replace([np.inf, -np.inf], np.nan, inplace=True)
df3["Fare_log"].fillna(df3["Fare_log"].median(), inplace=True)
df4 = df3.copy()

In [23]:
#Check if all columns data are in right datatype
print(df4[df4['Pclass'].apply(lambda x: type(x) == str)])
print(df4[df4['Sex'].apply(lambda x: type(x) != str)])
print(df4[df4['Age'].apply(lambda x: type(x) == str)])
print(df4[df4['SibSp'].apply(lambda x: type(x) == str)])
print(df4[df4['Parch'].apply(lambda x: type(x) == str)])
print(df4[df4['Fare'].apply(lambda x: type(x) == str)])
print(df4[df4['Embarked'].apply(lambda x: type(x) != str)])
print(df4[df4['Fare_log'].apply(lambda x: type(x) == str)])

Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []
Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Fare_log]
Index: []

In [26]:
# Convert categorical variables to numerical variables
# Ordinal Encoding (Retain all orders)
enc = OrdinalEncoder()
enc.fit(df4[["Sex","Embarked"]])
df4[["Sex","Embarked"]] = enc.transform(df4[["Sex","Embarked"]])

In [122]:
# Save the csv file
df4.to_csv('titanic_test_fe.csv', index=False)